<table id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>UnitaDiMisura</th>
            <th>DataOra</th>
            <th>IDVasca</th>
            <th>Operazioni</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of po" style="height: 3vh; min-height: 40px;">
            <td>
                <p [hidden] = ed >{{x.ID}}</p>
                <div style="width: 5vw; height: 5vh; ">
                <mat-form-field [hidden]="!ed" appearance="outline" style="color : black; width: 15vw; height: 2vh; min-height: none"  >
                    <input
                    matInput
                    type="number"
                    name="id"
                    required
                    minlength="4"
                    placeholder="id"
                    [(ngModel)]="id" 
                    style="color : black; font-size: 1.5vh; width: 15vw; height: 2vh; ">
                </mat-form-field>
            </div>
            </td>
            <td>
                <p [hidden] = ed >{{x.Nome}}</p>
            </td>
            <td>
                <p [hidden] = ed >{{x.UnitaDiMisura}}</p>
            </td>
            <td>
                <p [hidden] = ed >{{x.DataOra}}</p>
            </td>
            <td>
                <p [hidden] = ed >{{x.IDVasca}}</p>
            </td>
            <td>
                <a (click)="cancella(x.ID)" style="text-decoration: underline; text-decoration-color: blue; color: blue;" href="Vasca">cancella</a>
            </td>
            <td>
                <a (click)="edita()" style="text-decoration: underline; text-decoration-color: blue; color: blue;" >edita</a>
            </td>
            
        </tr>
    </tbody>
</table>
